<% if @role && @tracker %>
<div class="workflow-visualization" style="margin-top: 20px;">
  <h3><%= l('workflow_viz.visualization_title', :default => 'Workflow Visualization') %></h3>
  <div id="workflow-graph">
    <% begin %>
      <% graph_url = generate_graph(@role, @tracker) %>
      <% if graph_url.present? %>
        <%= image_tag(graph_url, :alt => "Workflow Graph", :class => "workflow-graph", :style => "max-width: 100%; height: auto; border: 1px solid #ccc; border-radius: 4px;") %>
      <% else %>
        <p class="info"><%= l('workflow_viz.no_workflow_data', :default => 'No workflow transitions defined for this role and tracker combination.') %></p>
      <% end %>
    <% rescue => e %>
      <p class="warning">Unable to generate workflow visualization: <%= e.message %></p>
    <% end %>
  </div>
</div>
<% end %>
